@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 0, 0, 0;
  --text-color: #9C9C9C,
}

@media (prefers-color-scheme: dark) {
  :root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --text-color: #090909,
  }
}

html {
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}

.dark_mode {
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

.light_mode {
  color :rgb(0, 0, 0);
  border-color:  rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--foreground-rgb))
    )
    rgb(var(--background-start-rgb)); */
    background-color: rgb(var(--background-start-rgb));
    font-weight:250;
    font-family: 'monospace';
    padding:0 2px 2px 2px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
}

p {
  color: var(--text-color);
  font-size: medium;
  line-height: 2;
}


@keyframes slideDown {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


.animate-slide-in {
  animation: slideDown 0.5s ease-out;
  opacity: 1;
}

@keyframes slideLeft {
  from {
    transform: translateX(-10%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-left {
  animation: slideLeft 0.5s ease-out;
  opacity: 1;
}

@keyframes slideRight{
  from {
    transform: translateX(10%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-right {
  animation: slideRight 0.5s ease-out;
  opacity: 1;
}

.scroll-watcher {
  height: 10px;
  position: fixed;
  top: 0;
  z-index: 10000;
  background-color: blueviolet;
  width: 100%;
  transform: scale(0, 1);
  transform-origin: left;
  animation: scroll-watcher 1s linear;
  animation-timeline: scroll();
}

@keyframes scroll-watcher {
  to { transform: scale(1, 2); }
}

